
body {
    background-color: #D9DDD7;
}
img{
  display: block;
  margin:auto;}

    h3{color: #9ea49b;
   font-family:bold italic;
   display: block; 
  margin-top: auto;}
 
  h1 {color: #5b6348;
    text-align: center;
    font-family: bold italic;}
  
  textarea {
    font-family: 'Courier New', Courier, monospace; 
    width: 50%;
    display:block;
    margin-left: auto; 
    margin-right: auto; 
  }
  button{
    align-self: center;
    color: white;
    background-color: #B79D7C;
    border: #927b5d;
    justify-content: center;
    display:block;
    margin-left: auto; 
    margin-right: auto;
  }
  #retangulo{
    background: fixed;
    width: 516;
    height: 832;
    background: #8D9277;
   }
  